* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*************COLORS**********

primary-red: #E6032D
blue: #CFE4FF
dark-gray: #333333
light: #f7f7f7

***********************************/


/**********************************

Universal Styles

***********************************/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: 10%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2, h2, h4, h5, p, a {
    font-family: proxima-nova, sans-serif;
}

.disclaimer {
    background: #E6032D;
    color: #f7f7f7;
    text-align: center;
    padding: 1% 0;
}

.disclaimer a {
    color: #f7f7f7;
    text-decoration: underline;
}

nav {
    display: none;
}
.logo {
    width: 50px;
    margin-left: 6%;
    padding: 1%;
}

/*************************

Homepage Styling

*************************/
.hero h1, .cta {
    text-align: center;
    margin: 0 auto;
    color: #f7f7f7;
}

.hero {
    background: url(images/met-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 83vh;
}

.hero h1 {
    padding-top: 200px;
    font-size: 3rem;
}

.cta {
    display: block;
    border: 1px solid #f7f7f7;
    border-radius: 7px;
    width: 190px;
    padding: 3px 0;
    margin-top: 1%;
}

.open {
    padding: 4%;
}

.open h2 {
    color: #E6032D;
}

.purchase-ticket {
    justify-self: flex-end;
    color: #E6032D;
}

a.purchase-ticket:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -60px;
    background-color: #E6032D;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  a.purchase-ticket:hover:before {
      visibility: visible;
      width: 8%;
    }

.last {
    background: #CFE4FF;
    width: 600px;
}
/***********CARD SECTION**/

.card {
    display: flex;
    justify-content: center;
    margin: 3% auto;
    box-shadow: 6px 5px 5px #00000030;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
}

.fit {
    object-fit: cover;
}

.card img {
    height: 100%;
}

.left-side:hover,
.right-side:hover {
    transform: scale(1.1);
    transition: .3s ease-out;
}

.left-side, .right-side { 
    position: relative;
    overflow: hidden;
}
.card-text-left,
.card-text-right {
    position: absolute;
    z-index: 9999;
    color: #f7f7f7;
    font-size: 1.2rem;
}

.card-text-left {
    left: 7%;
    bottom: 15%;
    border-bottom: 2px solid #E6032D;
}

.card-text-right {
    right: 7%;
    top: 15%;
    border-top: 2px solid #E6032D;
}



/**********************

Explore Page

***********************/
.hero-sub {
    background-image: url(images/hero-pages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 70vh;
}

.hero-sub h1 {
    color: #f7f7f7;
    padding-top: 20%;
    text-align: center;
}

span {
    border-bottom: 2px solid white;
    width: 125px;
    padding-top: 1%;
    display: block;
    margin: 0 auto;
}

.wrapper h2, .exhibits h2 {
    color: #E6032D;
}




/********************
Slideshow Styling
*******************/
.wrapper {
    padding: 5% 2%;
    margin: 0 auto;
}
.row {
    box-shadow: 1px 1px 15px #00000070;
    border: 5px solid white;
    margin: 0 auto;
    cursor: pointer;
}
.row > .column {
    padding: 0 8px;
    width: 100%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hide {
      display: none;
  }
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
    width: 100%;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
    width: 100%;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  .exhibits {
      margin-bottom: 5%;
    
  }
  
  .learn h2 {
      display: block;
      margin-top: 10%;
  }

/**********************

Footer Styles

************************/

.footer-left,
.footer-locations,
.footer-socials {
    background: #f7f7f7;
    text-align: center;
    line-height: 2.2;
    padding: 4% 0;
    box-shadow: 2px 13px 18px #00000099;
}

.footer-left a {
    color: #333333;
    font-weight: bold;
    line-height: 2.5;
}

.footer-socials a {
    font-size: 2rem;
    color: #333333;
    margin: 0 1%;
}

.footer-bottom {
    background: #333333;
    color: #CFE4FF;
    text-align: center;
    padding: 2% 0;
}
/*******450 MINWIDTH***********/

@media (min-width: 450px){

    .hero h1 {
        font-size: 3rem;
    }
   
}

@media (min-width: 600px) {

    .hero {
        min-height: 65vh;
    }
    .left-side, .right-side {
        width: 50%;
    }

    .card img {
        width: 100%;
    }
    .wrapper {
        max-width: 900px;
        width: 90%;
    }
    .row {
        max-width: 900px;
        width: 90%;
    } 
}

/*******700 MINWIDTH***********/
@media (min-width: 700px) {
    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    nav {
        justify-self: end;
        margin-right: 20%;
        display: block;
        padding-top: 2%;
    }
    nav ul {
        display: inline-flex;  
    }
    
    nav ul li {
        padding: 5% 20%;
    }
    
    nav ul li a {
        color: #E6032D;
        position: relative;
    }

    
    .open {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-text-left, .card-text-right {
        font-size: 1.5rem;
    }
    
}


@media (min-width: 850px) {
    .hero {
        min-height: 75vh;
    }
    .desktop-footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .footer-left, .footer-locations {
        text-align: left;
        padding-left: 10%;
        box-shadow: 2px 13px 5px #0000004a;
    }
    .footer-left {
        line-height: 4.5;
    }

    .footer-socials {
        box-shadow: none;
        padding: 2% 0;
        text-align: left;
    }
      /****************
  Tabbed Exhibits Styling
  ******************/
.exhibits {
    display: block;
    height: 700px;
    width: 85%;
    margin: 0px auto;
}
  /* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 550px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 550px;
  }
}
/********************
1000px QUERY

***********************/


@media (min-width: 1000px) {
 
.hero {
    min-height: 80vh;
}
/*Makes underline go from left to right on hover*/
nav ul li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E6032D;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover:before {
    visibility: visible;
    width: 100%;
  }


h1 {
    font-size: 4rem;
    padding-top: 15%;
}
.cta {
    display: block;
    border: 1px solid #f7f7f7;
    border-radius: 7px;
    padding: 3px 0;
}

.cta:hover {
    background: #333333;
    color: #CFE4FF;
    transition: all 0.4s ease;
    border: 1px solid #333333;
}
}
/*******1200 MINWIDTH***********/
@media (min-width: 1200px) {
    .card {
        height: 404px;
    }

    .exhibits {
        width: 60%;
    }
}


/*******600 MAXWIDTH***********/
@media (max-width: 600px) {
    .card {
        display: block;
    }

    .card img {
        width: 100%;
    }

    iframe {
        width: 100%;
    }
  
}